<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Expires" content="0" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<script type="text/javascript" src="/CORE_VALUE_PLEDGE_APP/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/CORE_VALUE_PLEDGE_APP/js/function.js"></script>
<link href="/CORE_VALUE_PLEDGE_APP/styles.css" rel="stylesheet" type="text/css">
</head>

<title>Pledge Info</title>

	<body class="login-main-container1" id="pledgeinfo">
		<div class="outer">
			<div class="middle" style="background-image: linear-gradient(45deg, white, #313979); width: 100%; ">
				<br><br><br><br><br>
				 <div class="pledgedoc-container" style="background-color:white ">
					<h1 style="text-align:center"> Core Value Pledge </h1>
					<p>I, <span id="empName"></span>, employee of <span id="empCompanyFullName"></span> with employee ID <span id="empId"></span>, stand committed towards imbibing and
						demonstrating <span name="empCompany"></span>'s core values consistently. My personal values shall remain subordinate to
						<span name="empCompany"></span>'s core values. When in doubt about the demonstration or application of an <span name="empCompany"></span> core value in
						any situation, I shall approach my supervisor/management for advice and guidance.</p><br>
					<p>By signing the individual statements below, I commit to imbibe and demonstrate core values while
						performing the roles and responsibilities I have been entrusted with. I am aware that there will be
						consequences to non-adherence, especially that breach of personal integrity implies separation from
						<span name="empCompany"></span>.</p><br>
					<h2>A. Personal Integrity</h2>
					<p>I shall always do the right things for <span name="empCompany"></span> by demonstrating personal integrity consistently when
						dealing with stakeholders of <span name="empCompany"></span>. Stakeholders include colleagues, customers, vendors and other
						people/organizations that interact with <span name="empCompany"></span> for business or social reasons.</p><br>
					<div class="terms-container"><div class="checkbox-container"><input type="checkbox" name="terms1" id="terms"></div><div class="termtext">1. I shall be honest and ethical in all dealings with <span name="empCompany"></span>'s stakeholders.</div></div><br><br>
					<div class="terms-container"><div class="checkbox-container"><input type="checkbox" name="terms1" id="terms"></div><div class="termtext">2. I shall obey the laws of the land where <span name="empCompany"></span> operates from.</div></div><br><br>
					<div class="terms-container"><div class="checkbox-container"><input type="checkbox" name="terms1" id="terms"></div><div class="termtext">3. I shall be transparent and fair in all my dealings with stakeholders of <span name="empCompany"></span>.</div></div>
					<h2>B. Team Integrity</h2>
					<p>I shall consistently collaborate for the success of my team and cross-functional teams by demonstrating team
						integrity in true spirit. Collective success is more important that my personal success.</p><br>
					<div class="terms-container"><div class="checkbox-container"><input type="checkbox" name="terms1" id="terms"></div><div class="termtext">1. I shall build relationships based on trust and shall carry out work that has been entrusted to us as a team
						and as an organization.</div></div><br><br>
					<div class="terms-container"><div class="checkbox-container"><input type="checkbox" name="terms1" id="terms"></div><div class="termtext">2. I shall respect my colleagues unconditionally and shall refrain from being judgmental.</div></div><br><br>
					<div class="terms-container"><div class="checkbox-container"><input type="checkbox" name="terms1" id="terms"></div><div class="termtext">3. I shall collaborate with all my peers across <span name="empCompany"></span> for their success, leading to organizational success.</div></div><br><br>
					<div class="terms-container"><div class="checkbox-container"><input type="checkbox" name="terms1" id="terms"></div><div class="termtext">4. I shall set high standards of performance for myself and my team, shall provide timely feedback and shall
						be less tolerant to low performance.</div></div><br><br>
					<div class="terms-container"><div class="checkbox-container"><input type="checkbox" name="terms1" id="terms"></div><div class="termtext">5. I shall treat merit as the criterion when deciding or influencing rewards and when implementing
						organizational policies.</div></div><br><br>
					<h2>C. Innovative Spirit</h2>
					<p>I am proud of the fact that <span name="empCompany"></span> has grown and has created a significant social impact by continuously
						investing in new ideas, technologies and processes as deemed fit for continuously evolving markets and
						expectations. In this regard, I shall demonstrate my innovative spirit by encouraging new ideas and by being
						constantly aware of current and upcoming technologies and processes while performing my role in the
						organization.</P><br>
					<div class="terms-container"><div class="checkbox-container"><input type="checkbox" name="terms1" id="terms"></div><div class="termtext">1. I shall remain focused on making improvements to technologies and processes to carry out work expected
						of me and my team.</div></div><br><br>
					<div class="terms-container"><div class="checkbox-container"><input type="checkbox" name="terms1" id="terms"></div><div class="termtext">2. If I should come across an opportunity worthy of organizational assessment for investment, I shall bring it
						to the attention of my supervisor/management.</div></div><br><br>
					<h2>D. Professionalism</h2><br>
					<p>Guided by a sense of pride in self and work, I shall demonstrate individual professional behaviour on all
						occasions in order to ensure collective results for <span name="empCompany"></span>.</P><br>
					<div class="terms-container"><div class="checkbox-container"><input type="checkbox" name="terms1" id="terms"></div><div class="termtext">1. I shall meet all commitments made to internal and external customers. I shall walk that extra mile too, if
						need be, to meet commitments.</div></div><br><br>
					<div class="terms-container"><div class="checkbox-container"><input type="checkbox" name="terms1" id="terms"></div><div class="termtext">2. I shall respond to my internal and external customers with a sense of urgency.</div></div><br><br>
					<div class="terms-container"><div class="checkbox-container"><input type="checkbox" name="terms1" id="terms"></div><div class="termtext">3. I shall take responsibility and be accountable for my commitments and actions in order to meet my
						individual and collective goals.</div></div><br><br>
					<div class="terms-container"><div class="checkbox-container"><input type="checkbox" name="terms1" id="terms"></div><div class="termtext">4. I shall learn from failures and shall strive to bring improvements to my work in order to avoid recurrence
						of mistakes.</div></div><br><br>
					<div class="terms-container"><div class="checkbox-container"><input type="checkbox" name="terms1" id="terms"></div><div class="termtext">5. I shall manage my time and priorities while respecting the time and priorities of my colleagues and
						customers.</div></div><br><br>
					<p>After having read and agreed to each statement hereinabove, I hereby commit to demonstrate <span name="empCompany"></span>'s core values with
						this sign-up.</P><br><br></div><br><br>
				<div>
						<input type="submit" class="submit1" name="submit" value="Proceed with Aadhaar eSign" id="withesign"><br><br><br>
						
						<h4 style="margin-left:7%; margin-right:4%; line-height: 20px;">In case of difficulties in eSigning the pledge or if the mobile number is not linked with Aadhaar or you do not wish to perform online eSigning of pledge using Aadhaar/VID, please contact the HR for further information on how to proceed with submitting the pledge</h4>
						
						<input type="submit" class="submit1" name="submit" value="Download and Sign" id="withoutaadhar" hidden>
						<input type="submit" class="submit1" name="submit" value="Upload signed document" id="offlinecopy" hidden>
						
						<form id="fileupload"  method="POST" enctype="multipart/form-data" hidden >
							<input type='file' class="uploadpledge" name ="file" /><input  type="button" class="uploadpledge" id="uploadpledge" width="20%" value="Upload"/>
							<input type='hidden' id="inputs" name ="inputDetails" />
						</form>
				</div><br><br><br>
				</div><br><br>
			</div>
		</div>
	</body>
</html>